/* Fuentes importadas */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
  font-family: Space Grotesk, sans-serif;
  display: flex;
}


/* Nav bar */
nav {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: 3vh;
  margin: 1%;
}

nav a {
  display: flex;
  font-size: 8pt;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: 0.2s ease-in-out;
}


nav a:hover {
  color: rgb(142, 84, 196);
}

nav a:first-child {
  display: flex;
  font-size: 12pt;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 100%;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
}

nav i{
  display: flex;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  color: rgb(142, 84, 196);
}

nav a i:first-child {
  color: black;
}



.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aside img {
  width: 80px;
  height: 80px;
  margin: 10px 0px;
}

.aside .round-arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 69px;
  height: 69px;
  margin: 20px;
  border-radius: 100%;
  text-decoration: none;
  background-color: rgb(240, 240, 240);
}

.product-picture {
  margin-left: 30px;
}

#product-container{
  display: flex;
  justify-content: right;
  width: 100vw;
  height: fit-content;
}

#product-images{
  display: flex;
  justify-content: right;
  flex-basis: 60%;
}

#product-details {
  padding: 50px;
  flex-basis: 40%;
}

